<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>{{title}}</title>
</head>
<body>
  <h1>Dog Management</h1>
  
  <a href="/">Home</a>
  <a href="/page1">Page 1</a>
  <a href="/page2">Page 2</a>
  <a href="/page4">Page 4</a>

  <!-- Form to create a new Dog -->
  <form action="/dogs" method="POST">
    <label for="name">Name: </label>
    <input type="text" id = "name" name="name" required>
    <label for="breed">Breed Name: </label>
    <input type="text" id = "breed" name="breed" required>
    <label for="age">Age: </label>
    <input type="number" id="age" name="age" min="0" required>
    <button type="submit">Create Dog</button>
  </form>
  
  <br/>
  <br/>
  
  <!-- Form to find a Dog by name and increase its age -->
  <form action="/dogs/increaseAge" method="POST">
    <label for="name">Name to search for:</label>
    <input type="text" name="name" required>
    <input type="submit" value="Increase Age">
  </form>

</body>
</html>